@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 ;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    padding: 50px 8%;
}

.main h1 {
    font-size: 40px;
    border-bottom: 15px solid rgb(155, 155, 155);
    margin-bottom: 25px;
}

header {
    background-color: rgb(47, 47, 250);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}   

header div a {
    color: rgb(226, 176, 82);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/* header div a::before{
    display: block;
    position: ;
    bottom: ;
    left: ;
    height: ;
} */

header div a:hover {
    border-bottom: 1px solid #000;
}


.busket--item{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.busket--item > span{
    background-color: rgb(76, 76, 199);
    padding: 3px 25px;
    margin-bottom: 10px;
}

.busket-item-info{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 15px 30px;
}

.product-price{
    font-weight: 500;
}

.to-shop-button{
    background-color: rgb(145, 20, 145);
    border: none;
    padding:  5px 20px;
    font-weight: 600;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.to-shop-button:hover {
    background-color: rgb(247, 47, 247);
}