{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'market/css/Header.css' %}">
    <link rel="stylesheet" href="{% static 'market/css/Desc.css' %}">

</head>
<body>
    <header>
        <h1>Hallmart</h1>
        {% for m in menu %}
        <div>
            <a href="{% url m.url %}">{{ m.title }}</a>
        </div>
        {% endfor %}
    </header>

    <section class="desc-page-title">
        <h3>Описание всех продуктов </h3>
    </section>

    <section>
        {% for p in products %}
        <div class="desc-item">
            <h3>{{ p.product_name_2 }}</h3>
            <p>{{ p.product_description_2}}</p>
        </div>
        {% endfor %}
    </section>
</body>
</html>