{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    
    <link rel="stylesheet" href="{% static 'market/css/Product.css' %}">
    <link rel="stylesheet" href="{% static 'market/css/Header.css' %}">
</head>
<body>
    <header>
        <h1>Hallmart</h1>
        {% for m in menu %}
        <div>
            <a href="{% url m.url %}">{{ m.title }}</a>
        </div>
        {% endfor %}
    </header>

    <section class="main">
        <div class="categories">
            <a href="">Все товары</a>

            {% for ctgr in categories %}
            <a href="">{{ctgr.name}}</a>
            {% endfor %}    
        </div>

        <div class="products">  
            <h1>Все продукты</h1>
                {% for p in products %}
                <div class="product--item">
                    <span class="product-category">Категория: {{ p.category.name }}</span>
                    <div class="product-info">
                        <a href="{% url 'description' p.id %}">{{ p.name }}</a>
                        <div>   
                            <p class="product-price">{{ p.price}} RUB</p>
                            <button class="to-shop-button">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </section>
</body>
</html>